header {
    background-color: #2d3a46;
    height: 8vh;
    width: 100%;
}

header img {
    width: 40px;
}

body {
    background-color: #1e2d3b;
    width: 100%;
}

main {
    height: 92vh;
}

main div.card {
    background-color: #2d3a46;
}